{% extends 'jobber/layout.html' %}

{% block body %}
<br>
<div class="card-deck" style="width: 12rem;"></div>
    {%for job in jobs%}
    <div class="card w-75">    
        <div class="card">
            <div class="card-body">
                <a class="card-title" href="{% url 'job' job_id=job.pk %}">{{job.title}} for RM{{job.pay}}</a>
                <p class="card-text">{{job.description}}</p>
            </div>
            <div class="card-footer">
                <small class="text-muted">Address: {{job.address}}</small>
            </div>
        </div>
    </div>
    <br>
    {% endfor %}
</div>
{% endblock %}


